# 排除所有缓存文件
/JGSL/__pycache__/
*.pyc
*.log
*.bak
*.tmp
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar

# 排除编译文件
/dist/*
/build/*

# 排除以下目录内容
/Web/*
/Servers/*
/Logs/*
/Language/*
/keystore/*
/Java/*
/DownloadTemp/*
/Database/*
/Config/*
/参考/*

# 但是保留目录结构
!/Web/.gitkeep
!/Servers/.gitkeep
!/Logs/.gitkeep
!/Language/.gitkeep
!/keystore/.gitkeep
!/Java/.gitkeep
!/DownloadTemp/.gitkeep
!/Database/.gitkeep
!/Config/.gitkeep

# 保留文件
!/Config/download-list.json
!/Config/mirror-list.json

# 保留以下目录
!/JGSL/
!/Config/
!/Assets/